<div class="content_detail_liste">
    <p class="libelle" >Libellé liste kalanso p2</p>
   <p class="libelle">12/03/2019</p>
</div>

<div class="tableau">
    <table class="table caption-top">
        <caption></caption>
        <thead>
          <tr>
            <th scope="col" class="num">Numero</th>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Telephone</th>
            <th scope="col" class="email">Email</th>
          </tr>
        </thead>
        <tbody *ngIf="detailTirage$ | async as index">
          <!-- *ngFor="let postulantTires of detailTirage$ | async; index as i" -->
          <tr *ngFor="let tirage of detailTirage$ | async; index as i" > <!--<tr *ngFor="let postulantTires of listePostulanttirage" >-->
            <th scope="row" class="num">{{i+1}}</th>
            <td routerLink="/detailtirage" routerLinkActive="active" >{{i+1}}.{{tirage.nompostulant}}</td>
            <td>{{tirage.prenompostulant}}</td><!-- {{i+1}}.{{postulantTires.prenompostulant}} -->
            <td>{{tirage.numeropostulant}}</td>
            <td class="email" >{{tirage.email}}</td>
          </tr>
          <!--
              <tr>
              <th scope="row" class="num">1</th>
              <td routerLink="/detailtirage" routerLinkActive="active" >Keita</td>
              <td>Mahamadou</td>
              <td>82644606</td>
              <td class="email" >kmahamadou858@gmail.com</td>
            </tr>

            <tr>
              <th scope="row" class="num">1</th>
              <td routerLink="/detailtirage" routerLinkActive="active" >Keita</td>
              <td>Mahamadou</td>
              <td>82644606</td>
              <td class="email" >kmahamadou858@gmail.com</td>
            </tr>
          -->
          
        </tbody>
      </table>
</div>