<div class="content_detail_liste">
    <p class="libelle" >{{libellTirage}}</p>
   <p class="libelle">{{date | date}}</p>
</div>

<div class="tableau">
  <label class="libSearch">Rechercher</label>
  <input type="text" name="motCle" id="motCle" placeholder="Recherche liste" [(ngModel)]="searchText" class="search">
    <table class="table caption-top">
        <caption></caption>
        <thead>
          <tr>
            <th scope="col" class="num">Numero</th>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Telephone</th>
            <th scope="col" class="email">Email</th>
          </tr>
        </thead>
        <tbody *ngIf="detailTirage$ | async as index">
          <!-- *ngFor="let postulantTires of detailTirage$ | async; index as i" -->
          <tr *ngFor="let tirage of detailTirage$ | async | filter:searchText  | paginate: {itemsPerPage:4,currentPage: p}; index as i" > <!--<tr *ngFor="let postulantTires of listePostulanttirage" >-->
            <th scope="row" class="num">{{i+1}}</th>
            <td routerLink="/detailtirage" routerLinkActive="active" >{{tirage.nompostulant}}</td>
            <td>{{tirage.prenompostulant}}</td><!-- {{i+1}}.{{postulantTires.prenompostulant}} -->
            <td>{{tirage.numeropostulant}}</td>
            <td class="email" >{{tirage.email}}</td>
          </tr>
          
        </tbody>
      </table>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>