<div class="button">
        <div class="importer"><button (click)="activetirage()" type="button" class="btn-outline-success">Tirer</button></div>
        <div class="importer"><button (click)="activeimport()" type="button" class="btn-outline-success">Importer</button></div><!-- (click)="changeForm()" -->
        <div class="importer_tirer"><button (click)="activeimport_tirage()" type="button" class="btn-outline-success">Importer & Tirer</button></div>
        <!-- <div class="tirer"><button type="button" class="btn-outline-success">Tirer</button></div> -->
    </div>
  
    
    <div *ngIf="tirage" class="ImportTirage">
      <div class="FormTrie1">Effetuer un tirage</div>
      <div class="form-saisie2">
          <form > <!--  #usersForm="ngForm" (ngSubmit)="getUserFormData(usersForm.value)" -->

            <div>
              <label for="libelle_liste">Libelle Liste </label>
              <select [(ngModel)]="libelleListe" name="libelle" class="form-control" id="libelle_liste">
                <option *ngFor="let liste of listes$ | async" class="form-control" [ngValue]="liste.libelle">
                  {{liste.libelle}}
                </option>
  
              </select>
            </div>


              <!--

                <div>
                              <label for="libelle_liste">Libelle Liste </label>
                              <input type="text" [(ngModel)]="libelleListe" name="libelleListe" placeholder="" id="libelle_liste"/>
                          </div>

              -->
             
  
              <div><!-- *ngIf="show"-->
                  <label for="nbre">Nombre de personne trier </label>
                  <input type="number" [(ngModel)]="nbre" name="nbre" placeholder="" id="nbre" />
              </div>
  
  
              <div><!-- *ngIf="show"-->
                  <label for="libellet">Libelle Tirage </label>
                  <input type="text" [(ngModel)]="libellet" name="libellet" placeholder="" id="libellet"/>
          
              </div>
              <div>
                  <input type="submit" (click)="postTirage()" name="" value="Tirer" class="btntrier btn btn-primary" />
              </div>
          
  
          </form>
      </div>
  </div>


  <div *ngIf="import" class="ImportTirage">
    <div class="FormTrie1">Importer un fichier</div>
    <div class="form-saisie2">
        <form [formGroup]="formmodule" (ngSubmit)="importerliste()">


                 <div>
                <label for="liste">Libelle Liste </label>
                <input type="text" [(ngModel)]="libelleListe" name="libelle" formControlName="libelle" placeholder="" id="liste"/>
            </div>
          

            <div class="fichier"> <!--*ngIf="!show"-->
                <label for="file">Fichier excel</label>
                <input class="form-control" type="file"  formControlName="file" id="formFileDisabled" name="file" id="file" (change)="fileChange($event)" >
            </div>

            <div>
             <input type="submit" value="Importer" class="btntrier btn btn-primary" />
              
          </div>

        </form>
    </div>
</div>

    
    <div *ngIf="tirage_import"  class="ImportTirage">
        <div class="FormTrie1">Importer et tirer</div>
        <div class="form-saisie2">
          <form [formGroup]="formmodule2" (ngSubmit)="postImportTrie()">
    
                <div>
                    <label for="liste">Libelle Liste </label>
                    <input type="text" [(ngModel)]="libelleListe" name="liste" placeholder="" formControlName="libelle" id="liste"/>
                </div>
    
                <div class="fichier"> <!--*ngIf="!show"-->
                    <label for="file">Fichier excel</label>
                    <input class="form-control" type="file" id="formFileDisabled" formControlName="file" name="file" id="file" (change)="fileChange($event)" >
                </div>
    
                <div><!-- *ngIf="show"-->
                    <label for="nombre">Nombre de personne trier </label>
                    <input type="number" [(ngModel)]="nbre" name="nombre" formControlName="nombre" placeholder="" id="nombre" />
                </div>
    
    
                <div><!-- *ngIf="show"-->
                    <label for="tirage">Libelle Tirage </label>
                    <input type="text" [(ngModel)]="libellet" name="tirage" formControlName="libellet" placeholder="" id="tirage"/>
            
                </div>
                <div>
                    <input type="submit"   name="submitBtn" value="Tirer" class="btntrier btn btn-primary" />
                </div>
    
            </form>
        </div>
    </div>
  


<div *ngIf="tirage_import" class="liste_postulant-tires">

    <div class="listet">
        <p >Liste importée</p>
    </div>

    <div class="tableaut">
        <caption>Liste importée</caption>
        <table class="table caption-top">
            <thead>
              <tr>
                <th scope="col" class="num">Numero</th>
                <th scope="col">Nom</th>
                <th scope="col">prenom</th>
                <th scope="col">Telephone</th>
                <th scope="col" class="email">Email</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row" class="num">1</th>
                <td>Mahamadou</td>
                <td>Keita</td>
                <td>82644606</td>
                <td class="email">kmahamadou858@gmail.com</td>
              </tr>
              <tr>
                <th scope="row" class="num">2</th>
                <td>Mahamadou</td>
                <td>Keita</td>
                <td>82644606</td>
                <td class="email">kmahamadou858@gmail.com</td>
              </tr>
              <tr class="email">
                <th scope="row" class="num">3</th>
                <td>Mahamadou</td>
                <td>Keita</td>
                <td>82644606</td>
                <td >kmahamadou858@gmail.com</td>
              </tr>
            </tbody>
          </table>
    </div>

    <div class="listet">
        <p >Liste tirée</p>
    </div>

    <div class="tableaut">
        <caption>Liste tirée</caption>
        <table class="table caption-top">
            <thead>
              <tr>
                <th scope="col" class="num">Numero</th>
                <th scope="col">Nom</th>
                <th scope="col">prenom</th>
                <th scope="col">Telephone</th>
                <th scope="col" class="email">Email</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row" class="num">1</th>
                <td>Mahamadou</td>
                <td>Keita</td>
                <td>82644606</td>
                <td class="email">kmahamadou858@gmail.com</td>
              </tr>
              <tr>
                <th scope="row" class="num">2</th>
                <td>Mahamadou</td>
                <td>Keita</td>
                <td>82644606</td>
                <td class="email">kmahamadou858@gmail.com</td>
              </tr>
              <tr>
                <th scope="row" class="num">3</th>
                <td>Mahamadou</td>
                <td>Keita</td>
                <td>82644606</td>
                <td class="email">kmahamadou858@gmail.com</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>



    <div *ngIf="tirage" class="liste_postulant-tires">
          <div class="listet">
              <p >Liste tirée</p>
          </div>
      
          <div class="tableaut">
              <caption>Liste tirée</caption>
              <table class="table caption-top">
                  <thead>
                    <tr>
                      <th scope="col" class="num">Numero</th>
                      <th scope="col">Nom</th>
                      <th scope="col">prenom</th>
                      <th scope="col">Telephone</th>
                      <th scope="col" class="email">Email</th>
                    </tr>
                  </thead>
                  <tbody>
                   <!-- <tr>
                      <th scope="row" class="num">1</th>
                      <td>Mahamadou</td>
                      <td>Keita</td>
                      <td>82644606</td>
                      <td class="email">kmahamadou858@gmail.com</td>
                    </tr>
                    <tr>
                      <th scope="row" class="num">2</th>
                      <td>Mahamadou</td>
                      <td>Keita</td>
                      <td>82644606</td>
                      <td class="email">kmahamadou858@gmail.com</td>
                    </tr>
                    <tr>
                      <th scope="row" class="num">3</th>
                      <td>Mahamadou</td>
                      <td>Keita</td>
                      <td>82644606</td>
                      <td class="email">kmahamadou858@gmail.com</td>
                    </tr>-->
                    <tr *ngFor="let postulant of listeTires$ |async | filter:searchText | paginate: {itemsPerPage:4,currentPage: p}; index as i">
                      <th scope="row" class="num">{{i+1}}</th>
                      <td>{{postulant.nompostulant}}</td>
                      <td>{{postulant.prenompostulant}}</td>
                      <td>{{postulant.numeropostulant}}</td>
                      <td class="email">{{postulant.email}}</td>
                    </tr>
                  </tbody>
                  <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </table>
          </div>

    </div>


<div *ngIf="import" class="liste_postulant-tires">
    <div class="listet">
        <p >Liste importée</p>
    </div>

    <div class="tableaut">
        <caption>Liste importée</caption>
        <table class="table caption-top">
            <thead>
              <tr>
                <th scope="col" class="num">Numero</th>
                <th scope="col">Nom</th>
                <th scope="col">prenom</th>
                <th scope="col">Telephone</th>
                <th scope="col" class="email">Email</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row" class="num">1</th>
                <td>Mahamadou</td>
                <td>Keita</td>
                <td>82644606</td>
                <td class="email">kmahamadou858@gmail.com</td>
              </tr>
              <tr>
                <th scope="row" class="num">2</th>
                <td>Mahamadou</td>
                <td>Keita</td>
                <td>82644606</td>
                <td class="email">kmahamadou858@gmail.com</td>
              </tr>
              <tr class="email">
                <th scope="row" class="num">3</th>
                <td>Mahamadou</td>
                <td>Keita</td>
                <td>82644606</td>
                <td >kmahamadou858@gmail.com</td>
              </tr>
            </tbody>
          </table>
    </div>            


</div>
