<div class="formulaire">
<div class="Tirage">
    <div class="FormTrie">Effectuer un Tirage</div>
    <div class="form-saisie1">
        <form method="" action="">
            <span>Libelle Liste </span>
            <input type="text" name="" placeholder=""/>
            <span>Libelle Tirage </span>
            <input type="text" name="" placeholder=""/>
            <span>Nombre de personne trier </span>
            <input type="number" name="" placeholder=""/>
            <input type="submit" name="" value="Trier" class="btntrier"/>

        </form>
    </div>
</div>
<div class="ImportTirage">
    <div class="FormTrie1">Effectuer un Tirage</div>
    <div class="form-saisie2">
        <form method="" action="">
            <span>Libelle Liste </span>
            <input type="text" name="" placeholder=""/>
            <span>Choisir un fichier </span>
            <input type="text" name="" placeholder=""/>
            
            <span class="tt">faire un Tirage </span>
            <input type="submit" name="" value="fairetrie" class="btntrierf"/>
            <span>Nombre de personne trier </span>
            <input type="number" name="" placeholder=""/>
            <span>Libelle Tirage </span>
            <input type="text" name="" placeholder=""/>
            <input type="submit" name="" value="Importer" class="btntrier"/>

        </form>
    </div>
</div>
</div>
