   <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

          <div class="container-fluid">
            <div class="company">
              <img [src]="logo_company" [alt]="descp_logo" class="logo">
              <span class="name_company">{{name_company}}</span>
            </div>
              <ul class="navbar-brand menu">
                <li class="accueil"><a routerLink="/accueil" routerLinkActive="active">{{accueil}}</a></li>
                <li class="tirage"><a routerLink="/tirage" routerLinkActive="active">{{tirage}}</a></li>
              </ul>
          </div>
        </nav>
   </header>
   
   <router-outlet></router-outlet>
   

   <footer>
      <p class="content_footer">{{contents_footer}}<p>
   </footer>