.header{
    background-color: #FFF;
}

.logo{
    height: 55px;
    margin-right: 15%;
}

.company{
    display: flex;
    align-items: center;
    margin-left: 3%;
    padding: 0;
    margin-right: 0;
}
.name_company{
    display: block;
    padding: 0;
    font-size: 24px;
    font-weight: bold;
}

nav{
    display: flex;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    width: 100%;
    text-align: center;
    justify-content: space-between;
    background-color: #FFF;
}

.menu{
   list-style: none;
   display: flex;
   margin-right: 3%;
   align-items: center;
   justify-content: flex-end;
   padding: 0;
   margin-top: auto;
   margin-bottom: auto;
}

.menu li a{
    text-decoration: none;
    color: black;

}

.accueil{
    margin-right: 60%;
}

footer{
    width:100%;
    position:fixed;
    bottom: 0px;
    background-color: #59B05D;
    color: white;
    text-align: center;
}

.content_footer{
    width: 80%;
    margin: auto;
    padding-top: 16px;
    font-size: 20px;
}





@media screen and (max-width: 450px)
{
    /* Rédigez vos propriétés CSS ici  */
    
    .menu{         
       display: block;
       padding: auto;
       margin: auto;
    }
    .logo{
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        height: 100px;
    }
    .company{
        
        flex-direction: column;
    }
    .name_company{
        margin-top: 30px;
        margin-bottom: 30px;
    }

    nav{
        flex-direction: column;
        /*justify-content: space-between;*/
        width: 150px;
        /*height: 100vh;*/
        align-items: center;
        position: fixed;
        bottom: 0;
        top: 0;
    }

    .content_footer{
        width: 100%;
        font-size: 16px;
    }

    .accueil{
        margin-bottom: 50px;
    }

    footer{
        font-size: 6px;
    }
}