   <header>
        <nav>
          <div class="company">
            <img [src]="logo_company" [alt]="descp_logo" class="logo">
            <span class="name_company">{{name_company}}</span>
          </div>
            <ul class="menu">
              <li class="accueil"><a>{{accueil}}</a></li>
              <li class="tirage"><a>{{tirage}}</a></li>
            </ul>
        </nav>
   </header>

   <app-accueil></app-accueil>
   <app-tirage-interface></app-tirage-interface>

   <footer>
      <h2>{{contents_footer}}</h2>
   </footer>