<div class="content_detail_liste">
    <p class="libelle" >Libellé liste kalanso p2</p>
   <p class="libelle">12/03/2019</p>
</div>

<div class="tableau">
    <table class="table caption-top">
        <caption></caption>
        <thead>
          <tr>
            <th scope="col">Numero</th>
            <th scope="col">Libellés tirages</th>
            <th scope="col">Date</th>
            <th scope="col">Nombre Postulant</th>
            <th scope="col" class="details">Details</th>
          </tr>
        </thead>
        <tbody *ngIf=" detailslistes$ | async as index">
          <!--
               <tr>
            <th scope="row">1</th>
            <td routerLink="/detailtirage" routerLinkActive="active" >Libellé tirage</td>
            <td>12/02/2022</td>
            <td>20</td>
            <td class="details" ><i class="fa fa-long-arrow-right" aria-hidden="true"></i></td>
          </tr>
          -->

          <tr *ngFor="let tirage of detailslistes$ | async; index as i"><!--<tr *ngFor="let tirage of tirages$ | async; index as i">-->
            <th scope="row">{{i+1}}</th>
            <td class="lie" [routerLink]="['/detailtirage', tirage.id]" routerLinkActive="active" style="cursor: default;">{{tirage.libellet}}</td>
            <td>{{tirage.date}}</td>
            <td>{{tirage.nbre}}</td>
            <td class="details" ><i class="fa fa-long-arrow-right" aria-hidden="true"></i></td>
          </tr>


           <!--
          <tr>           
            <th scope="row">3</th>
            <td routerLink="/detailtirage" routerLinkActive="active" >Libellé tirage</td>
            <td>12/02/2022</td>
            <td>20</td>
            <td class="details" ><i class="fa fa-long-arrow-right" aria-hidden="true"></i></td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td routerLink="/detailtirage" routerLinkActive="active" >Libellé tirage</td>
            <td>12/02/2022</td>
            <td>20</td>
            <td class="details" ><i class="fa fa-long-arrow-right" aria-hidden="true"></i></td>
          </tr>
        -->
         
        </tbody>
      </table>
</div>