<div class="content_accueil">
    <p class="texte_accueil">Bienvenue sur votre plateforme de tirage au sort</p>
    <div class="statistiques">
        <div class="statistique_liste_tire">
            <!-- <p class="content_statistique_liste_tire"> -->
                <span class="libelle_total_liste_tire">Total Listes tirées</span>
                <span class="total_liste_tire">{{nombreListeTiree}}</span>
           <!--  </p> -->
        </div>
        <div class="statistique_tirage">
          <!--  <p class="content_statistique_tirage"> -->
                <span class="libelle_total_tirage">Total tirages</span>
                <span class="total_tirage">{{nombreTirage}}</span>
           <!-- </p>-->
        </div>
    </div>
<div class="tableau">
  <label class="libSearch">Rechercher</label>
  <input type="text" name="motCle" id="motCle" placeholder="Recherche liste" [(ngModel)]="searchText" class="search">
    <table class="table caption-top">
        <caption></caption>
        <thead>
          <tr>
            <th class="num" scope="col">Numero</th>
            <th scope="col">Liste postulants</th>
            <th scope="col">Nombre tirages</th>
            <th scope="col">Details</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let liste of listes$ | async |filter:searchText  | paginate: {itemsPerPage:4,currentPage: p} ; index as i ">
            <th class="num" scope="row">{{i+1}}</th>
            <td class="lit" [routerLink]="['/detailsliste', liste.id_liste]" routerLinkActive="active" style="cursor: default;">{{liste.libelle}}</td>
            <td>{{liste.nbre_tirage}}</td>
            <td class="details"  [routerLink]="['/detailsliste', liste.id_liste]" ><i class="fa fa-info-circle" aria-hidden="true"></i>
            </td>
          </tr>
          <pagination-controls (pageChange)="p = $event"></pagination-controls>

    <!--
          <tr>
            <th scope="row">2</th>
            <td routerLink="/detailsliste" routerLinkActive="active">Libellé liste kalanso P2</td>
            <td>30</td>
            <td class="details" routerLink="/detailsliste" routerLinkActive="active"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td routerLink="/detailsliste" routerLinkActive="active">Libellé liste kalanso P3</td>
            <td>58</td>
            <td class="details" routerLink="/detailsliste" routerLinkActive="active"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td routerLink="/detailsliste" routerLinkActive="active">Libellé liste kalanso P4</td>
            <td>96</td>
            <td class="details"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td routerLink="/detailsliste" routerLinkActive="active">Libellé liste kalanso P5</td>
            <td>100</td>
            <td class="details" routerLink="/detailsliste" routerLinkActive="active"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></td>
          </tr>
    -->
        </tbody>
      </table>
</div>
</div>