<div class="content_accueil">
    <p class="texte_accueil">Bienvenue sur votre plateforme de tirage au sort</p>
    <div class="statistiques">
        <div class="statistique_liste_tire">
            <!-- <p class="content_statistique_liste_tire"> -->
                <span class="libelle_total_liste_tire">Total Listes tirées</span>
                <span class="total_liste_tire">{{total_liste_tire}}</span>
           <!--  </p> -->
        </div>
        <div class="statistique_tirage">
          <!--  <p class="content_statistique_tirage"> -->
                <span class="libelle_total_tirage">Total tirages</span>
                <span class="total_tirage">{{total_tirage}}</span>
           <!-- </p>-->
        </div>
    </div>
<div class="tableau">
    <table class="table caption-top">
        <caption></caption>
        <thead>
          <tr>
            <th scope="col">Numero</th>
            <th scope="col">Liste postulants</th>
            <th scope="col">Nombre tirages</th>
            <th scope="col">Details</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Libellé liste kalanso P1</td>
            <td>20</td>
            <td class="details"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Libellé liste kalanso P2</td>
            <td>30</td>
            <td class="details"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Libellé liste kalanso P3</td>
            <td>58</td>
            <td class="details"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Libellé liste kalanso P4</td>
            <td>96</td>
            <td class="details"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Libellé liste kalanso P5</td>
            <td>100</td>
            <td class="details"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></td>
          </tr>
        </tbody>
      </table>
</div>
</div>